body{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
   background-color: #209bd8;
}
h2 { 
font-size: 40px;
font-weight:bold ;
margin: 20px;

}

.picture{
    display: flex;
    justify-content:  center;
    align-items:center;
    

}
div img{
 
   width: 300px;
   height: 300px;
   border: 2px, solid #ff3d0036;
   border-radius: 13px;
   box-shadow: 4px,7px, 0px, #00000042;
   cursor: pointer;
   margin: 10px;
   transition: 400ms;

}
#start-Button{
    display:inline-table;
    justify-content: center;
}
div img:hover{
filter: grayscale(1);
transform: scale(1.03);
}